@model IEnumerable<WebApplication3.Models.Product2>
@{
    ViewBag.Title = "Product2";
}

<h2>Product2</h2>

<div class="col-xs-12 col-md-9">
    <div class="row">


        @foreach (var product2 in Model)
        {

            <div class="col-xs-12 col-md-3">
                <div class="thumbnail">
                    @if (product2.ProductId == 1)
                    {
                        <img class="img-responsive" src="~/Content/R727a014e97bddcaf6c9b0b93f8d6b460.png">
                    }
                    else if (product2.ProductId == 4)
                    {
                        <img class="img-responsive" src="~/Content/R550fc36888e1f10b5fd694e606483140.png">
                    }
                    else if (product2.ProductId == 3)
                    {
                        <img class="img-responsive" src="~/Content/furniture.png">
                    }
                  
                  
                    <div class="caption text-center">
                        <p>
                            <b>Name:</b> <span>@product2.ProductTitle</span>
                        </p>
                        <p>
                            <b>Price:</b> <span>@product2.ProductPrice USD</span>
                        </p>
                        <p class="text-center">
                            <button  type="button" class="like-button" title="Click to like this post!">
                                <i class="fa fa-thumbs-up"></i> Like
                                
                                <span class="like-count"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <style>
.like-button {
  background-color: white;
  color: black;
}
 
.like-button:hover {
  background-color: red;
  color: black;
}
</style>
        }
    </div>
</div>
        