@{
    ViewBag.Title = "About";
}

 
    <div class="container">
        <div class="info fl-left">
            <h2>About Us</h2>
           <img src="~/Content/logo.png" alt="An Error Has Occured" width="500px" height="500px" style="margin-left:325px"/> 
    <br /><br />
    <p style="background:linear-gradient(red,yellow,green);font-size:28px;text-align:center">
        We are a group of 2<sup>nd</sup> year students of FCIS ( Faculty of computer & information science )
    </p>
    <br />
    <h2>Team Members</h2>
    <div class="students">
        <marquee behavior="alternate" bgcolor=white style="color: yellow;font-size: 36px" scrollamount=12>
            <div class="content fl-left">
                <div class="text fl-left">
                    <h3>Adham Sherif Abd El Hamid</h3>
                    <p>
                        <span>ID:</span> 20191700087
                        <br>
                        <span>Departement:</span> Digital Multimedia
                    </p>

                </div>
            </div>
            <div class="content fl-left">
                <div class="text fl-left">
                    <h3>Nada Mohamed Abdel-Aziz</h3>
                    <p>
                        <span>ID:</span> 20191700079<br>
                        <span>Departement:</span> Digital Multimedia
                    </p>
                </div>
            </div>
            <div class="content fl-left">
                <div class="text fl-left">
                    <h3>Jouciane Mamdouh</h3>
                    <p>
                        <span>ID:</span> 20191700084<br>
                        <span>Departement:</span> Digital Multimedia
                    </p>
                </div>
            </div>
            <div class="content fl-left">
                <div class="text fl-left">
                    <h3>Khaled Hamdi</h3>
                    <p>
                        <span>ID:</span> 20191700281<br>
                        <span>Departement:</span> Digital Multimedia
                    </p>
                </div>
            </div>
            <div class="content fl-left">
                <div class="text fl-left">
                    <h3>Habiba Hisham</h3>
                    <p>
                        <span>ID:</span> 201917000317<br>
                        <span>Departement:</span> Digital Multimedia
                    </p>
                </div>
            </div>
        </marquee>
    </div>
</div>
    </div>

