@{
    ViewBag.Title = "Contact";
}




<!-- start contacts -->
<div class="contacts">
    <div class="container">
        <div class="info fl-left">
            <h2>Contact Us</h2>

            <pre style="font-size:20px">Emails:
        adham20191700087@cis.asu.edu.eg
        Nada20191700084@cis.asu.edu.eg
        Jouciane20191700079@cis.asu.edu.eg
        Habiba20191700281@cis.asu.edu.eg
        Khaled20191700317@cis.asu.edu.eg
        </pre>


            <pre style="font-size:20px">Phones:
          012345678902156
          012345678902156
          012345678902156
          012345678902156
          012345678902156
        </pre>


            <pre style="font-size:20px;padding-right:200px">
          Hotline:    35726026
        </pre>
            
        </div>
        
            <div class="form fl-left">
                <form style="padding-left:20px; text-align:center">
                    <label>Name :</label>
                    <input type="text">
                    <label>Email Adress :</label>
                    <input type="text">
                    <br />
                    <label>Phone :</label>
                    <input type="text">
                    <label>Message :</label>
                    <textarea></textarea>
                    <br /><br />
                    <input type="submit" value="Submit" class="text-center">
                </form>

            </div>
        
    </div>
</div>
