@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img src="~/Content/Slider-Desktop-EN_ch.jpg" style="width:100%" alt="First slide">

            <div class="carousel-caption">
                <h3>First slide</h3>
                <p>shop now</p>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img src="~/Content/Floor_EN.png" style="width:100%" alt="First slide">
            <div class="carousel-caption">
                <h3>Second slide</h3>
                <p>shop now</p>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img src="~/Content/Floor_Desktop_copy-3.jpg" style="width:100%" alt="First slide">

            <div class="carousel-caption">
                <h3>Third slide</h3>
                <p>shop now</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
    <div class="main-text hidden-xs hidden-sm">
        <div class="col-md-12 text-center">

            <div class="clearfix"></div>
            <div class="carousel-btns">

            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="row">

    <h1 style="text-align:center;font-style:oblique">Accessories</h1>
    <video height="500" width="880" style="margin-left:130px" url controls>
        <source src="~/Content/Watch product video for Easycase.mp4" type="video/mp4" />
    </video>
    <br />
    <h1 style="text-align:center;font-style:oblique">Furniture</h1>
    <video height="500" width="880" style="margin-left:130px" url controls>
        <source src="~/Content/Cousins Furniture Promotional Video.mp4" type="video/mp4" />
    </video>
    <br />
    <h1 style="text-align:center;font-style:oblique">Books</h1>
    <video height="500" width="880" style="margin-left:130px" url controls>
        <source src="~/Content/The Joy of Books.mp4" type="video/mp4" />
    </video>
    <br />
    <h1 style="text-align:center;font-style:oblique">Appliances</h1>
    <video height="500" width="880" style="margin-left:130px" url controls>
        <source src="~/Content/Samsung Built-in kitchen Appliances Infinite line.mp4" />
    </video>
    <br />
    <h1 style="text-align:center;font-style:oblique">Cosmetics</h1>
    <video height="500" width="880" style="margin-left:130px" url controls>
        <source src="~/Content/Cosmetic product video for Muse Beauty, USA.mp4" />
    </video>
    <br />
</div>
<br /><br />



<img src="~/Content/1.gif.jpeg" width="1000px" height="150px" style="margin-left:100px" />
<br /><br />
<div class="row">
    <div class="col-md-6" style="margin-bottom:50px">
        <img src="~/Content/2.gif.jpeg" width="500" height="500" style="margin-bottom:30px" />
        <p style="margin-left:200px"><a class="btn btn-default" href="https://localhost:44370/Home/Shop">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6" style="margin-bottom:50px">
        <img src="~/Content/3.gif.jpeg" width="500" height="500" style="margin-bottom:30px" />

        <p style="margin-left:200px"><a class="btn btn-default" href="https://localhost:44370/Home/Shop">Learn more &raquo;</a></p>
    </div>
    <br /><br />
    <div class="col-md-6" style="margin-bottom:50px">
        <img src="~/Content/4.gif.jpeg" width="500" height="500" style="margin-bottom:30px" />

        <p style="margin-left:200px"><a class="btn btn-default" href="https://localhost:44370/Home/Shop">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6" style="margin-bottom:50px">
        <img src="~/Content/5.gif.jpeg" width="500" height="500" style="margin-bottom:30px" />

        <p style="margin-left:200px"><a class="btn btn-default" href="https://localhost:44370/Home/Shop">Learn more &raquo;</a></p>
    </div>
    <br /><br />

    <div class="col-md-6" style="margin-bottom:50px">
        <img src="~/Content/6.jpg.jpeg" width="500" height="500" style="margin-bottom:30px" />

        <p style="margin-left:130px"><a class="btn btn-default" href="https://localhost:44370/Home/Shop">Learn more &raquo;</a></p>
    </div>
    <br /><br />
    
</div>

